@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.checkout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 30px;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.form-input {
  font-family: "Roboto", sans-serif;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-input:focus {
  border-color: #007bff;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.submit-button {
  font-family: "Roboto", sans-serif;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #218838;
}

.cancel-button {
  font-family: "Roboto", sans-serif;
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cancel-button:hover {
  background-color: #c82333;
}

.voucher-container {
  font-family: "Roboto", sans-serif;
  max-width: 50%;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 15px;
  background-color: #f9f9f9;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 2px solid #009bff;
}

.voucher-title {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  color: #009bff;
  font-weight: bold;
  margin-bottom: 1rem;
}

.voucher-message {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 1rem;
}

.voucher-order-id {
  font-family: "Roboto", sans-serif;
  display: block;
  margin-top: 0.5rem;
  font-size: 2rem;
  color: #974cdc;
  font-weight: bold;
}

.voucher-note {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #888;
  margin-top: 1.5rem;
}
