.container-navbar {
  background-image: linear-gradient(
    to left,
    #6a12cb,
    #6e5bdd,
    #005def,
    #0086fc,
    #00a7f8,
    #00c3ee,
    #32b8de,
    #44accf,
    #4fa1bf,
    #557192,
    #000000,
    #000000,
    #000000
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo {
  width: 15rem;
  height: auto;
}

.categories-list {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-link {
  text-decoration: none;
  font-size: 2.2rem;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.category-link:hover {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}
