@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000000;
}

.login-logo {
  width: 30rem;
}

.login-title {
  font-family: "Poppins", sans-serif;
  color: #67d6da;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282828;
  padding: 2rem;
  border-radius: 8px;
}

.login-input {
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  outline: none;
}

.login-button {
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 0.8rem;
  margin-top: 1rem;
  background-color: #8332cf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
}

.login-button:hover {
  background-color: #2da2d1;
}
