@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

.card-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

h2 {
  font-family: "Poppins", sans-serif;
  width: 100%;
  font-size: 3rem;
  font-weight: bold;
  color: #5317c4;
  margin: 30px 0 30px;
  text-align: center;
}
